[Unit]
Description=Lagertha Client
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/share/lagertha/lagboot.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
